#! ############################### PRODUCTION ###############################

#* <Variables>
DEVELOPER_NAME=Name of Developer
WALLPAPERS_URL=https://api.npoint.io/a34c7b8d2330df46cd68
#WALLPAPERS_URL=NA

#* <Social Media>
TWITTER=https://sink.gamas.workers.dev/gamas-x
INSTAGRAM=https://sink.gamas.workers.dev/gamas-instagram
#INSTAGRAM=NA
GOOGLE_PLAY_STORE=https://sink.gamas.workers.dev/gamas-playstore